<!DOCTYPE html>
<html>
<head>
    <title>To-Do Lista</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>To-Do Lista</h1>
    <form action="/dodaj" method="post">
        <input type="text" name="naslov" placeholder="Naslov zadatka" required>
        <textarea name="opis" placeholder="Opis zadatka"></textarea>
        <button type="submit">Dodaj Zadatak</button>
    </form>
    <ul>
        {% for zadatak in zadaci %}
            <li>
                <h2>{{ zadatak.naslov }}</h2>
                <p>{{ zadatak.opis }}</p>
                <form action="/azuriraj/{{ zadatak.id }}" method="post">
                    <input type="text" name="naslov" value="{{ zadatak.naslov }}" required>
                    <textarea name="opis">{{ zadatak.opis }}</textarea>
                    <button type="submit">Ažuriraj</button>
                </form>
                <form action="/izbrisi/{{ zadatak.id }}" method="post">
                    <button type="submit">Izbriši</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
