<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Members List</h1>
    <div class="button-group">
        <a href="/dodaj_clana" class="button">Add Member</a>
        <a href="/upravljaj_clanovima" class="button">Manage Members</a>
        <div class="search-group">
            <form action="/" method="GET">
                <input type="text" name="search_name" placeholder="First Name">
                <input type="text" name="search_lastname" placeholder="Last Name">
                <button type="submit" class="button">Search</button>
            </form>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Subscription Start</th>
            <th>Subscription End</th>
        </tr>
        </thead>
        <tbody>
        {% for clan in clanovi %}
        <tr>
            <td>{{ clan.korisnik_id }}</td>
            <td>{{ clan.ime }}</td>
            <td>{{ clan.prezime }}</td>
            <td>{{ clan.preplata_datum }}</td>
            <td>{{ clan.preplata_istece }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
