<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upravljanje članovima</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upravljanje članovima</h1>
        <div class="navbar">
            <button onclick="window.location.href='{{ url_for('index') }}'">Popis članova</button>
            <button onclick="window.location.href='{{ url_for('dodaj_clana') }}'">Dodaj člana</button>
            <form action="{{ url_for('reset_ids') }}" method="post" style="display:inline;">
                <button class="reset-ids" type="submit">Reset ID</button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Pocetak preplate</th>
                    <th>Završetak preplate</th>
                    <th>Opcije</th>
                </tr>
            </thead>
            <tbody>
                {% for clan in clanovi %}
                <tr>
                    <td>{{ clan.korisnik_id }}</td>
                    <td>{{ clan.ime }}</td>
                    <td>{{ clan.prezime }}</td>
                    <td>{{ clan.preplata_datum }}</td>
                    <td>{{ clan.preplata_istece }}</td>
                    <td class="actions">
                        <a href="{{ url_for('update_clana', korisnik_id=clan.korisnik_id) }}" class="update">Ažuriraj</a>
                        <form action="{{ url_for('delete_clana', korisnik_id=clan.korisnik_id) }}" method="post" style="display:inline;">
                            <button type="submit" class="delete">Izbriši</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
